.bg-brick{
    background-color: #842E1C;
}

.bg-beige{
    background-color: #fff8dc;
}

.text-brick{
    color: #842E1C;
}

.text-beige{
    color:#fff8dc; 
}

.navbar {
    background-color: rgb(132, 46, 27);
    font-family: 'Germania One', cursive;
}

.germaniaStyleFont {
    font-family: 'Germania One', cursive; 
}

.border-brick{
    border:solid 2px #842E1C;
}

.img {
    text-decoration: underline; 
}

.underlined {
    text-decoration: underline;
}

footer a {
  color:#c1967e;  
}